.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppContainer {
  width: 814px;
  height: calc(100vh - 10px);
}

h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}